h1, form { 
    text-align: center; 
}
textarea { 
    width: 400px; 
    height: 100px; 
}
div.post { 
    border: 1px solid #999;
    padding: 10px 10px;
    margin: 10px 20%; 
}
hr.postbound { 
    width: 50%; 
}
em.date { 
    color: #999;
}